VITE_FIREBASE_API_KEY=your_public_firebase_web_api_key
VITE_FIREBASE_APP_ID=your_firebase_web_app_id
VITE_FIREBASE_PROJECT_ID=project-d66d4e5f-ee28-4c77-845
VITE_RECAPTCHA_ENTERPRISE_SITE_KEY=your_public_recaptcha_site_key
